<template>
    <transition name="fade">
        <div>
            <form class="needs-validation" @submit.prevent="addStudent" needs-validation>
                <div class="card  mb-2">
                    <div class="card-body bg-light ">
                        <div class="form-row">
                            <!-- First name -->
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom01">First name</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="First name" v-model="student.first_name" required>
                            </div>
                            <!-- Middle name -->
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom02">Middle name</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Middle name" v-model="student.middle_name" required>

                            </div>
                            <!-- Last name -->
                            <div class="col-md-4 mb-3">
                                <label for="validationCustom03">Last name</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="Last name" v-model="student.last_name" required>
                            </div>
                        </div>
                        <!-- Gender -->
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio"  name="gender" id="inlineRadio1" value="male" required>
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female" required>
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card  bg-light  mb-2" >
                    <div class="card-body">
                        <div class="form-row">
                            <!-- City -->
                            <div class="col-md-3 mb-3">
                                <label for="validationCustom03">City</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="City" v-model="address.city"  required>
                            </div>
                            <!-- State -->
                            <div class="col-md-3 mb-3">
                                <label for="validationCustom04">State</label>
                                <input type="text" class="form-control" id="validationCustom04" placeholder="State" v-model="address.state"  required>
                            </div>   
                            <!-- Address -->             
                            <div class="col-md-3 mb-3">
                                <label for="validationCustom04">Address</label>
                                <input type="text" class="form-control" id="validationCustom04" placeholder="Address" v-model="address.address_line"  required>
                            </div>
                            <!-- Zip -->
                            <div class="col-md-3 mb-3">
                                <label for="validationCustom05">Zip</label>
                                <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" v-model="address.zip_postcode" required>
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="card  bg-light mb-2" >
                    <div class="card-body">
                    <div class="form-row">
                        <!-- Email -->
                            <div class="col-md-4 mb-4">
                                <label for="validationCustom04">Email</label>
                                <input type="email" class="form-control" id="validationCustom04" placeholder="Email" v-model="email.email"  required>
                            </div>
                            <!-- Phone -->
                            <div class="col-md-3 mb-2">
                                <label for="validationCustom05">Phone</label>
                                <input type="text" class="form-control" id="validationCustom05" placeholder="Phone" v-model="phone.phone"  required>
                            <!-- Country code -->
                            </div>   
                            <div class="col-md-3 mb-2">
                                <label for="validationCustom07">Country code</label>
                                <input type="text" class="form-control" id="validationCustom07" placeholder="Country code" v-model="phone.country_code"  required>
                            </div>   
                            <!-- Area code -->
                            <div class="col-md-2 mb-2">
                                <label for="validationCustom08">Area code</label>
                                <input type="text" class="form-control" id="validationCustom08" placeholder="Area code" v-model="phone.area_code"  required>
                            </div>                                              
                        </div>
                        <div class="row">
                            <!-- Email type -->
                            <div class="form-group col-md-4 mb-2">
                                <p>Email type</p>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="email_type" id="inlineRadio3" value="professional" required>
                                    <label class="form-check-label" for="inlineRadio3">Professional</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="email_type" id="inlineRadio4" value="personal" required>
                                    <label class="form-check-label" for="inlineRadio4">Personal</label>
                                </div>
                            </div>
                            <!-- Phone type -->
                            <div class="form-group col-md-8 mb-2">
                                <p>Phone type</p>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="phone_type" id="inlineRadio5" value="mobile" required>
                                    <label class="form-check-label" for="inlineRadio5">Mobile</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="phone_type" id="inlineRadio6" value="landline" required>
                                    <label class="form-check-label" for="inlineRadio6">Personal</label>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
                <button class="btn btn-dark col-md-12 mb-12  mb-2" type="submit">Add a new student</button>
            </form>
        </div>
    </transition>
</template>


<script>
    // Bootstrap validation 
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
            });
        }, false);
    })();

    export default {
        data(){
            return{
                student:{
                    last_name:'',
                    middle_name:'',
                    first_name:'',
                    gender:''
                },
                address:{
                    address_line:'',
                    city:'',
                    zip_postcode:'',
                    state:''
                },
                email:{
                    email:'',
                    email_type:''
                },
                phone:{
                    phone:'',
                    phone_type:'',
                    country_code:'',
                    area_code:''
                }
            }
        },methods:{
           addStudent(){
                // Create a new student
                this.student.gender= document.querySelector('input[name="gender"]:checked').value;
                this.phone.phone_type= document.querySelector('input[name="phone_type"]:checked').value;
                this.email.email_type= document.querySelector('input[name="email_type"]:checked').value;

                var fulStudent = {
                    'student':this.student,
                    'phone':this.phone,
                    'email':this.email,
                    'address':this.address
                }
                fetch('api/student', {
                method: 'post',
                body: JSON.stringify(fulStudent),
                headers: {
                    'content-type': 'application/json'
                }
                })
                .then(res => res.json())
                .then(data => {
                    this.$emit('studentAdded');
                    this.clearForm();
                    this.$router.push({name: 'students'});
                })
                .catch(err => console.log(err));            
            },
            clearForm() {
                // Clear the form
                this.student.last_name='';
                this.student.middle_name='';
                this.student.first_name='';
                this.student.gender='';
                this.address.address_line='';
                this.address.city='';
                this.address.zip_postcode='';
                this.address.state='';
                this.email.email='';
                this.email.email_type='';
                this.phone.phone='';
                this.phone.phone_type='';
                this.phone.country_code='';
                this.phone.area_code='';
            }
        }
    }
</script>
