<template>
    <transition name="fade" v-if="loaded">
        <div >
            <h1>List of the students</h1>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item"><a class="page-link" @click="fetchStudents(pagination.prev_page_url)">Previous</a></li>

                    <li class="page-item disabled"><a class="page-link text-dark" >Page {{ pagination.current_page }} of {{ pagination.last_page }}</a></li>
                
                    <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item"><a class="page-link" @click="fetchStudents(pagination.next_page_url)">Next</a></li>
                </ul>
            </nav>
            <div class="card card-body mb-2" v-for="student in students" v-bind:key="student.student_id">
                <h4 class="card-title">{{ student.last_name }} {{ student.first_name }}</h4>
                <div v-for="(phone,index) in student.phones" v-bind:key="index">
                    <p>Phone numer {{index +1}} : {{ phone.phone}}</p>
                </div>  
                <br>
                <router-link 
                    :to="{name: 'studentDetails', params: {student_id: student.student_id } }"
                    tag='button' 
                    class="btn btn-success mb-2">
                    Details
                </router-link>
            </div>
        </div>
    </transition>

</template>


<script>
    import CreateStudent from './student/CreateStudent.vue'
    export default {
        data(){
            return{
                students:[],
                pagination: {},
                loaded: false
            }
        },
          created() {
            this.fetchStudents();
        },
        components:{
            'app-createStudent':CreateStudent
        },
        methods:{
            fetchStudents(page_url) {
                // Load all the students from the DB
                let vm = this;
                page_url = page_url || '/api/studentsWithPhones';
                fetch(page_url)                
                    .then(res => res.json())
                    .then(res => {
                    this.students = res.data;
                    vm.makePagination(res.meta, res.links);
                    this.loaded = true;
                    })
                    .catch(err => console.log(err));
            },
            makePagination(meta, links) {
            let pagination = {
                current_page: meta.current_page,
                last_page: meta.last_page,
                next_page_url: links.next,
                prev_page_url: links.prev
            };
            this.pagination = pagination;
            }
        }
    }
</script>
<style scoped>
    .fade-leave-active {
        transition: opacity 0s;
        opacity: 0 ;
    }
</style>