<template>
    <transition name="fade" v-if="loaded == 4">
        <div >
            <!-- Displayed all the addresses -->
            <app-student :student="student"></app-student>
            <app-address v-for="address in addresses"
                :key="`address-${address.address_id}`"
                :address="address" 
                :numberOfAddresses="addressesSize"
                @addressRemoved="addressRemoved()">
            </app-address>
            <app-createAddress v-if="creatingNewAddress"
                @addressAdded="addressCreated()">
            </app-createAddress>
            <button class="btn btn-success col-md-12 mb-12  mb-2" 
                @click.prevent="creatingNewAddress = true"
                v-if="!creatingNewAddress">
                Add a new address
            </button>
            <button class="btn btn-danger col-md-12 mb-12  mb-2" 
                @click.prevent="creatingNewAddress = false"
                v-if="creatingNewAddress">
                Cancel
            </button>
            <!-- Displayed all the emails -->
            <app-email v-for="email in emails"
                :key="`email-${email.email}`" 
                :email="email"
                :numberOfEmails="emailsSize"
                @emailRemoved="emailRemoved()">
            </app-email>
            <app-createEmail v-if="creatingNewEmail"
                @emailAdded="emailCreated()">
            </app-createEmail>
            <button class="btn btn-success col-md-12 mb-12  mb-2" 
                @click.prevent="creatingNewEmail = true"
                v-if="!creatingNewEmail">
                Add a new email
            </button>
            <button class="btn btn-danger col-md-12 mb-12  mb-2" 
                @click.prevent="creatingNewEmail = false"
                v-if="creatingNewEmail">
                Cancel
            </button>             
             <!-- Displayed all the phone -->
            <app-phone v-for="phone in phones"
                :key="`phone-`+phone.phone_id"
                :phone="phone"                
                :numberOfPhones="phonesSize"
                @phoneRemoved="phoneRemoved()">
            </app-phone>
            <app-createPhone v-if="creatingNewPhone"
                @phoneAdded="phoneCreated()">
            </app-createPhone>
            <button class="btn btn-success col-md-12 mb-12  mb-2" 
                @click.prevent="creatingNewPhone = true"
                v-if="!creatingNewPhone">
                Add a new phone
            </button>
            <button class="btn btn-danger col-md-12 mb-12  mb-2" 
                @click.prevent="creatingNewPhone = false"
                v-if="creatingNewPhone">
                Cancel
            </button>  
            <br>     
            <br>       
            <button class="btn btn-primary col-md-12 mb-12  mb-2" @click.prevent="removeStudent">Remove</button>
            <button class="btn btn-danger col-md-12 mb-12  mb-2" @click.prevent="deleteStudent">Delete</button>        
        </div>
   </transition>
</template>


<script>

    import Student from './student/Student.vue';
    import Phone from './student/Phone.vue';
    import Email from './student/Email.vue';
    import Address from './student/Address.vue';
    import CreateAddress from './student/CreateAddress.vue';
    import CreateEmail from './student/CreateEmail.vue';
    import CreatePhone from './student/CreatePhone.vue';
    import Loader from './share/Loader.vue';

    export default {
        props:['student_id'],      
        data(){
            return{
                disable: true,
                student: '',
                addresses:[],
                emails:[],
                phones:[],
                loaded:0,
                creatingNewAddress: false,
                creatingNewEmail: false,
                creatingNewPhone: false,
            }
        },computed:{
            addressesSize(){
                // Get the number of addresses that the student has
                return this.addresses.length;
            },
            emailsSize(){
                // Get the number of mails that the student has
                return this.emails.length;
            },
            phonesSize(){
                // Get the number of phones that the student has
                return this.phones.length;
            },
        },
        components:{
            'app-student':Student,
            'app-phone':Phone,
            'app-email':Email,
            'app-address':Address,
            'app-loader':Loader,
            'app-createAddress':CreateAddress,
            'app-createEmail':CreateEmail,
            'app-createPhone':CreatePhone
        },
        created() {
            this.fetchData();
        },
        methods:{
            emailCreated(){
                // Update the list of the emails when an email is created
                this.creatingNewEmail = false;
                this.loaded = 3;
                this.fetchEmails();
            },
            addressCreated(){
                // Update the list of the addresses when an address is created
                this.creatingNewAddress = false;
                this.loaded = 3;
                this.fetchAddresses();
            },
            phoneCreated(){
                // Update the list of the phones when an phone is created
                this.creatingNewPhone = false;
                this.loaded = 3;
                this.fetchPhones();
            },
            emailRemoved(){
                // Update the list of the addresses when an email is removed
                this.loaded = 3;
                this.fetchEmails();
            },
            addressRemoved(){
                // Update the list of the addresses when an address is removed
                this.loaded = 3;
                this.fetchAddresses();
            },
            phoneRemoved(){
                // Update the list of the phones when an phone is removed
                this.loaded = 3;
                this.fetchPhones();
            },
            fetchStudent(){
                // load the student's data from the DB
                let page_url = 'api/student/'+this.student_id;
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        this.student = res.data;
                        this.loaded +=1;
                    })
                    .catch(err => console.log(err));
            },
            fetchPhones(){
                // load the student's phones from the DB
                let page_url = 'api/student/'+this.student_id+'/phones';
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        this.phones = res.data;
                        this.loaded +=1;
                    })
                    .catch(err => console.log(err));
            },
            fetchEmails(){
                // load the student's emails from the DB
                let page_url ='api/student/'+this.student_id+'/emails';
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        this.emails = res.data;
                        this.loaded +=1;
                    })
                    .catch(err => console.log(err));
            },
            fetchAddresses(){
                // load the student's addresses from the DB
                let page_url ='api/student/'+this.student_id+'/addresses';
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        this.addresses = res.data;
                        this.loaded +=1;
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            fetchData(){
                // load all the data of the student
                this.loaded = 0;
                this.fetchStudent();
                this.fetchAddresses();
                this.fetchEmails();
                this.fetchPhones();
            },
            removeStudent() {
                // Remove a student
                if (confirm('Are You Sure?')) {
                    fetch(`api/student/hide/`+this.student_id, {
                    method: 'put'
                    })
                    .then(res => res.json())
                    .then(data => {
                        //alert('Article removed');
                        this.$router.push({name: 'students'});
                    })
                    .catch(err => console.log(err)); 
                }
            },
            // Delete a student
            deleteStudent() {
                if (confirm('Are You Sure?')) {
                    fetch(`api/student/`+this.student_id, {
                    method: 'delete'
                    })
                    .then(res => res.json())
                    .then(data => {
                        //console.log('Student Removed');
                        this.$router.push({name: 'students'});
                    })
                    .catch(err => console.log(err));
                }
            }
        }
    }

</script>

<style scoped>
    .fade-leave-active {
        transition: 0s;
        opacity: 0 ;
    }
</style>